.Page2_2 {
    width: 430px;
    height: 932px;
    background: #FFF;    
}

.Logo {
    width: 110px;
    height: 34px;

    color: #0D99FF;
    text-align: center;
    font-family: Outfit;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 33.6px */
}

.Explaination {
    width: 313px;

    color: var(--Black, #000);
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
    margin-top: 314px;
    margin-left: 59px;
}


.Portion {
    color: var(--Black, #000);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Add {
    width: 60px;
    height: 60px;
    flex-shrink: 0;

    margin-left: 328px;
    margin-top: 276px;
}